body{
    background-color: lightcoral;
}
body header h1 {
    text-align: center;
    font-style: oblique;
}
body header p {
    line-height: 3;
    text-align: left;
} 
main ul {
    margin-left:auto;
    margin-right: 20px;
} 
main ul li:nth-child(1){
    background-color: burlywood;
    color: darkblue;
}

main ul li:nth-child(2){
    background-color: darkcyan;
    color: darkgreen;
}
main ul li:nth-child(3){
    background-color: darkseagreen;
    color: deeppink;
}
main ul li:nth-child(4){
    background-color: dimgray;
    color: firebrick;
}
main ul li:nth-child(5){
    background-color: lightblue;
    color: indianred;
}




